.movie-info__card {
    width: 23%;
    box-sizing: border-box;
    box-shadow: 0 0 4px 0 #460072;
    border-radius: 5px;
    position: relative;
}
.movie-info__card_image img {
    width: 100%;
}
.movie-info__card_title {
    background-color: #460072;
    display: flex;
    padding-top: 3px;
    justify-content: center;
    border-bottom: 1px solid #e7e7e7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}
.movie-info__card_title a {
    text-decoration: none;

}
.movie-info__card_title p:hover {
    color: yellow;
}
.movie-info__card_title p {
    text-align: center;
    margin: 0;
    height: 28px;
    color: lightgray;
    font-size: 21px;
    font-weight: normal;
}
.movie-info__card_text {
    display: flex;
    justify-content: center;
}
.movie-info__card_text h5{
    margin: 0;
}
.rating {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #460072;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: white;
    font-weight: 600;
}